#background {
    background: #e6e6fa;
    border: 3rem solid rgb(0 0 0 / 10%);
}


#grid {
    height: 100vh;
}

#left {
    background: #ce9dd9;
}

#grid {
    transition: 300ms;
    display: grid;
    grid-template-columns: var(--left, 48px) auto;
}

#grid:has(#left:hover) {
    --left: 22.5%;
}


.button {
background-color: #3a243b;
border: 1rem solid rgb(0 0 0 / 10%);
color: white;
/*padding: 20px 34px;*/
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
margin: 4px 2px;
cursor: pointer;
}


/* This is for the hovering code */

.scrawl {
}
.content {
    opacity: 0;
    font-size: 40px;
    color: #1c87c9;
    background-color: rgba(200, 200, 200, 0.5);
    width: 500px;
    height: 500px;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
}
.scrawl .content:hover {
    opacity: 1; 
}
.scrawl .content .text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
}
.scrawl .content:hover .text {
    opacity: 1;
    transform: translateY(250px);
    -webkit-transform: translateY(250px);
}
