#background {
    background: #e6e6fa;
    border: 3rem solid rgb(0 0 0 / 10%);
}


#grid {
    height: 100vh;
}

#left {
    background: #ce9dd9;
}

#grid {
    transition: 300ms;
    display: grid;
    grid-template-columns: var(--left, 48px) auto;
}

#grid:has(#left:hover) {
    --left: 22.5%;
}


.button {
background-color: #3a243b;
border: 1rem solid rgb(0 0 0 / 10%);
color: white;
/*padding: 20px 34px;*/
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
margin: 4px 2px;
cursor: pointer;
}
